:root{
    --box-shadow: 0px 1px 4px 1px rgba(199,199,199,1);
    --income: rgb(40, 65, 40);
    --expense: rgb(156, 44, 44);
}
body{
    background-color: rgba(252, 240, 252, 0.856);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000;
    padding-left: 400;
   }
.tracer h1 {
    text-align: center;
    margin-top: 50;
    font-size: 40px;
}
h2 {
    font-size: 1.5em;
}
.incomeAndExpense {
    display: flex;
    box-shadow: 0px 1px 4px 1px pink;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    background-image: linear-gradient(to right top, rgb(147, 243, 147), rgb(241, 139, 139));
    background-size: 100%;
    animation: bg-animation 10s infinite alternate;
}
.incomeContainer {
   
    padding-right: 200px;
}
@keyframes bg-animation{
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}
.expenseContainer {
    padding-left: 200px;
}
#myIncome, #myExpense {
    font-size: 1.3rem;
}
#myIncome {
    color: var(--income);
}
#myExpense {
    color: var(--expense);
}
.theBalance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30;
    background-color: rgb(189, 238, 117);
    width: 500;
    margin-left: 220;
    border-radius: 30px;
}
.theBalance #myBalance{
    font-size: 1.5rem;
}
#history1{
    background-image: linear-gradient(to bottom, rgb(182, 248, 182), rgb(245, 199, 114));
    background-size: 300%;
    width: 250;
    padding: 30;
    animation: bg-animation 5s infinite alternate;
    border-radius: 15px;
}
@keyframes bg-animation{
    0%{
        background-position: bottom;
    }
    100%{
        background-position: top;
    }
}
#history2{
    background-image: linear-gradient(to top, rgb(65, 64, 64), rgb(253, 128, 128));
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
    width: 250;
    padding: 30;
    border-radius: 15px;
}
@keyframes bg-animation{
    0%{
        background-position: top;
    }
    100%{
        background-position: bottom;
    }
}
.myTransactions{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#transaction, #expenseTransaction{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250;
}

#transaction li, #expenseTransaction li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 2px rgb(34, 24, 26);
}
#transaction li span, #expenseTransaction li span{
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 8px;
}
#transaction li .income-amt {
    background-color: var(--income);
}
#transaction li .expense-amt, #expenseTransaction li .expense-amt {
    background-color: var(--expense);
}
#transaction li button, #expenseTransaction li button {
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}
.myForm{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right top, rgb(147, 243, 147), rgb(241, 139, 139));

}
.myForm form {
    display: flex;
    flex-direction: column;
}
.myForm form label {
    padding-bottom: 10px;
}
.myForm form input {
    height: 25px;
    margin-bottom: 10px;
}
.myForm form button {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
#incomeBtn {
    background-color: var(--income);
    border-radius: 10px;
}
#expenseBtn {
    background-color: var(--expense);
    border-radius: 10px;
}
